<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Web Design na Prática </title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header>

        <nav id="topo">
            <ul>
                <li><a href="">HTML</a></li>
                <li><a href="">CSS</a></li>
                <li><a href="">JavaScript</a></li>
            </ul>

        </nav>

        <img src="imagens/topo.png" alt="">

       
    </header>

    <main>
        <section>
            <h1>Aprendendo Web Design na Prática </h1>
            <h2>HTML5, CSS3 e JavaScript</h2>
    
        </section>
        <section>
            <table >
                <tr>
                    <th><img src="imagens/html5.png" alt="" style="width:30px ;"></th>
                    <th><img src="imagens/css3.png" alt="" style="width: 30px;"></th>
                    <th><img src="imagens/javascript.png" alt="" style="width:30px ;"></th>
                </tr>
                <tr>
                    <th>HTML</th>
                    <th>CSS3</th>
                    <th>JavaScript</th>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae expedita, dolorem culpa
                        autem nisi omnis aut ipsa repellendus blanditiis sed vel delectus maiores quidem? Excepturi
                        rerum omnis expedita veritatis quibusdam.<a href="#topo">Leia Mais...</a></td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti tempora deserunt ad deleniti
                        commodi, dicta inventore, facere, doloribus similique nulla dolores. Asperiores placeat
                        repellendus ea temporibus praesentium ad rerum fugit!<a href="#topo">Leia Mais...</a></td>
                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia omnis repellat quisquam odio
                        aut optio officiis provident esse hic nostrum neque similique voluptatibus, excepturi doloremque
                        nam consectetur magnam in officia! <a href="#topo">Leia Mais...</a></td>
                </tr>

            </table>

        </section>

        <section>
            <img src="imagens/webdesign.jpg" style="width: 300px;" alt="">
            <h2>Conheça Nosso Portifólio</h2>
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat labore, aliquid autem explicabo
                    quisquam quas. Aperiam ab fuga ipsum dicta maiores blanditiis, odit molestias eum laboriosam autem!
                    Porro, nemo dolore.</span><span>Ad, dignissimos. Amet, tenetur? Quos eum quis tempora molestias
                    ratione saepe dolorem architecto provident voluptas aliquid amet vero, debitis sint aperiam minima
                    minus eius nesciunt nostrum, ea animi alias! Magnam.</span><span>Dignissimos ipsam perferendis
                    quaerat eligendi, qui sequi quisquam modi culpa nesciunt accusantium dolores id expedita laborum
                    animi dolor placeat tempore rem eum maiores fuga fugit. Impedit, obcaecati reiciendis? Numquam,
                    maxime.</span></p>
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ducimus provident laboriosam minima,
                    repellat rerum voluptatibus voluptas inventore numquam eaque culpa. Veniam commodi libero ipsum
                    accusamus animi voluptatem laborum repellat?</span><span>Non tempora ullam porro consequuntur iure,
                    quaerat nihil, quas recusandae adipisci doloribus fugit quia expedita, ut illum commodi debitis
                    autem harum. Fugiat id optio alias, mollitia non incidunt accusamus eaque.</span><span>Nihil, esse
                    ut. Dolores sunt, rerum voluptatum laborum facilis, praesentium natus assumenda similique expedita
                    ut quasi adipisci id sequi enim ex corporis placeat deleniti maiores quisquam quas laboriosam fugiat
                    voluptates.</span></p>
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem possimus aperiam repudiandae
                    inventore. Aut, sed facere? Beatae delectus maiores nostrum magnam ullam, ex neque corporis facilis
                    perspiciatis repellendus minima aliquid.</span><span>Totam repellendus quidem repudiandae libero
                    praesentium incidunt quo animi facere delectus nisi. Hic autem quo sint odit nostrum, voluptatibus
                    omnis voluptate quas exercitationem non, facere aperiam ullam qui adipisci ut?</span><span>Dolores
                    ex rem ullam ab commodi nihil impedit, assumenda sapiente veniam eaque illum facilis? Quasi vel
                    dolore porro voluptatem quae repellat voluptate fuga repudiandae assumenda perferendis animi,
                    voluptas modi consequuntur!</span></p>
            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsum impedit cumque eveniet
                    expedita, quo molestiae nam voluptatibus nihil dolorem ducimus. Corrupti, culpa ducimus expedita
                    deleniti ipsa ullam voluptatem ut!</span><span>Accusantium quia fuga, illo eum amet hic animi,
                    voluptas et odit porro architecto doloribus minus eius vero sequi nobis quam est totam quos? Enim
                    perferendis, debitis vitae dolor hic explicabo?</span><span>Culpa pariatur tempore rem odit dolor
                    obcaecati voluptate ex architecto ea dolore quis repellendus ab, sapiente vero quae doloribus a!
                    Atque esse accusamus, ratione ullam ab non nisi quam velit.</span></p>
            <p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae libero fugit, ex repellendus
                    deleniti non porro esse culpa voluptatem accusamus autem ipsam a pariatur omnis eligendi beatae
                    doloribus eum facilis.</span><span>Ad sequi tempora repudiandae! Alias suscipit quo deleniti aliquid
                    et vitae, fugiat voluptas. Hic vel enim eos facilis quidem harum eveniet voluptas debitis atque,
                    numquam maxime sint. Soluta, perferendis omnis.</span><span>Eaque nulla soluta impedit cupiditate
                    ipsam, cum, exercitationem modi porro sed repellendus quas perferendis ipsa totam amet ab voluptatum
                    veniam dolorem recusandae saepe eveniet culpa expedita! Exercitationem quo dolor culpa.</span></p>
        </section>
        <section>
            <img src="imagens/portifolio01.jpg" alt="">
            <img src="imagens/portifolio02.jpg" alt="">
            <img src="imagens/portifolio03.jpg" alt="">
        </section>


    </main>


    <footer>
        <p>Todos os direitos Reservados</p>
        <img src="imagens/logoRedesSociais.png" alt="" style="width: 300px;">
        <p>Rua da Paz, 630. Uberlândia(MG)-Brasil</p>
        <p>
    
           +55(34)3221-4800
        </p>
    </footer>

</body>

</html>