body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#quadro {
    background-color: #fff;
    padding: 0px;
    border: px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: auto; 
}

table {
    width: 100%;
    border: 1px solid rgb(12, 12, 12);
}

th, td {
    border: 1px solid black; 
    padding: 10px;
    text-align: left; 
}

th {
    background-color: #fff; 
}
